@font-face {
	font-family: 'Authentic Sans';
	src: url('../fonts/Authentic-Sans/Authentic-Sans.woff2') format('woff2'),
		url('../fonts/Authentic-Sans/Authentic-Sans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
